body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.app-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    background-color: #b72222;
    border-radius: 10px;
}

.generate-section,
.input-section {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.generate-section {
    border-right: 1px solid #ccc;
}

.generate-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-display {
    border: black;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.left-display {
    width: max-content;
    display: flex;
    flex-direction: column;
}
.input-container {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.enter-pin {
    font-size: 1.2em;
    flex-shrink: 0;
}

.input-display {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 40px;
    width: 100%;
}

.keypad-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.keypad-button {
    padding: 15px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.result-message {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    color: #4caf50;
}

.error {
    color: #f44336;
}

.icon-success::before {
    content: '✔';
    margin-left: 10px;
    color: #4caf50;
}

.icon-error::before {
    content: '✖';
    margin-left: 10px;
    color: #f44336;
}
